/*!
 * MarinDeck CSS (by taiy)
 * Copyright 2020 taiy https://github.com/taiyme
 * Apache License Version 2.0 https://www.apache.org/licenses/LICENSE-2.0
 * Date: 2021-01-23 05:30 JST
 */

/* 圧縮サイト => https://cssminifier.com/ */
/* 圧縮等を効率化できる方法を教えてください https://twitter.com/20041203t */

/*?
 * 注意事項1: MarinDeckで使う場合、バックスペース(/の反対)は必ずエスケープしてください。
 *        例: '\F007' => '\\F007'
 *         2: ダブルクォートを使用する場合、必ずエスケープしてください。またはシングルクォートの使用を検討してください。
 *        例: \"Images\" or 'Images'
 * このコード内では、開発のしやすさを重きに置いて、エスケープ処理はしておりません。
 * 使用される方は各自でエスケープ処理をお願いします。
 */

/* 非表示にするUI */
/* ツイート詳細以外のアクションボタン */
.tweet-actions,
/* ツイート詳細以外のフッター */
.tweet > .tweet-footer,
/* このスレッドを表示 (Show this thread) */
.js-show-this-thread, p.margin-t--4.margin-b---3.txt-mute,
/* プロフィールのフォローされています (Followed by ...) */
.social-proof-container,
/* 通知(Notifications)をシンプルにする */
.activity-header + .tweet.txt-mute > .tweet-header,
.activity-header + .tweet.txt-mute > .tweet-footer,
.activity-header + .tweet.txt-mute > .js-show-this-thread,
/* リプライ通知以外(いいね・RT)の返信先(Replying to) */
.activity-header + .tweet.txt-mute > .tweet-body .other-replies {
  display: none !important;
}

/* クリック・タップ無効 */
/* 時間誤タップ防止 */
time > a,
/* 通知(Notifications)のタグ・URL */
.activity-header + .tweet.txt-mute > .tweet-body > p.tweet-text a,
/* ツイート画像のリンク */
.med-tray > .media-preview-container > a {
  pointer-events: none !important;
}

/* アイコンを四角にする */
.avatar,
.compose-account,
.prf-img,
.tweet-avatar {
  border-radius: 10% !important;
}

/* ツイート画面のボタン(画像・予約投稿など)をミニマルにする */
.compose .cf.margin-t--12.margin-b--30 {
  float: right !important;
  margin: 0 0 12px 6px !important;
}
.js-add-image-button > .label,
.js-schedule-button > .label,
.js-tweet-button > .label,
.js-dm-button > .label,
.compose button.btn.margin-b--12.padding-v--6.padding-h--12 > .label {
  display: none !important;
}
.js-add-image-button > .Icon,
.js-schedule-button > .Icon,
.js-tweet-button > .Icon,
.js-dm-button > .Icon,
.compose button.btn.margin-b--12.padding-v--6.padding-h--12 > .Icon {
  margin-left: -1px !important;
}
.js-add-image-button,
.js-schedule-button,
.js-tweet-button,
.js-dm-button,
.compose button.btn.margin-b--12.padding-v--6.padding-h--12 {
  width: 42px !important;
  float: left !important;
  margin: 0 6px 12px 0 !important;
}
.js-new-composer-upsell-padding {
  clear: both !important;
}

/* いいね・RT通知に表示されるツイートを2行にする(IEを除く) */
.activity-header + .tweet.txt-mute > .tweet-body > p.tweet-text {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
}

/* 常に文字数カウンターを表示し、プログレスバーを非表示 */
.js-character-count.is-hidden {
  display: inline !important;
  margin-right: 3px !important;
}
.js-progress-svg {
  display: none !important;
}

/* 翻訳系 */
/* 高さの最小値を35pxにしないようにする */
/* 翻訳したあと、オリジナルの文を薄くしない */
.tweet-translation-original-text {
  min-height: auto !important;
  color: inherit !important;
}
/* 翻訳後、戻ったときに翻訳文を非表示にする */
.tweet > .tweet-body > .js-tweet-translation {
  display: none !important;
}
/* 一部の余白を除去する */
.tweet-detail > .js-tweet-translation.in-tweet-divider {
  padding-top: 0 !important;
}
/* TRANSLATED FROM...を読みやすくする */
.tweet-translation-attribution-text.txt-uppercase {
  text-transform: none !important;
}

/* 改訂版 最初のローディング画面 */
:root {
  --loading-width: 160px;
  --loading-image: url(https://play-lh.googleusercontent.com/zDN4k87aHiaO6OXpxtFiwOvfV7LDfcdYS-nysEUjivti7aeFvLTivgR6HIpql0qqOWw);
  --loading-color: #fcfcfc;
}
body > .js-app-loading img[alt='Loading…'] {
  content: var(--loading-image, url(https://ton.twimg.com/tweetdeck-web/web/assets/global/backgrounds/spinner_blue.0f83d5101b.gif)) !important;
  width: var(--loading-width, 74px) !important;
  height: var(--loading-width, 74px) !important;
  margin-left: calc(var(--loading-width, 74px) / -2 + 2px) !important;
  margin-top: calc(var(--loading-width, 74px) / -2 + 2px) !important;
}
body > .js-app-loading {
  user-select: none !important;
  pointer-events: none !important;
  background-color: var(--loading-color, #1da1f2) !important;
}
body {
  margin: 0 !important;
}

/* ツイートアクションを古いものにする */
@font-face {
  font-family: old_tweetdeckregular;
  src: url(https://ton.twimg.com/tweetdeck-web/web/assets/fonts/tweetdeck-regular-webfont.6ab172d369.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 星ふぁぼを黄色にする */
.icon-favorite-color,
.is-favorite .icon-favorite-toggle,
.tweet-action.is-selected .icon-favorite,
.tweet-action.is-selected .like-count,
.is-selected.dm-action .icon-favorite,
.is-selected.dm-action .like-count,
.is-selected.tweet-detail-action .icon-favorite,
.is-selected.tweet-detail-action .like-count,
.tweet-action:active .icon-favorite,
.tweet-action:active .like-count,
.tweet-detail-action:active .icon-favorite,
.tweet-detail-action:active .like-count,
.dm-action:active .icon-favorite,
.dm-action:active .like-count,
.tweet-action:focus .icon-favorite,
.tweet-action:focus .like-count,
.tweet-detail-action:focus .icon-favorite,
.tweet-detail-action:focus .like-count,
.dm-action:focus .icon-favorite,
.dm-action:focus .like-count,
.tweet-action:hover .icon-favorite,
.tweet-action:hover .like-count,
.tweet-detail-action:hover .icon-favorite,
.tweet-detail-action:hover .like-count,
.dm-action:hover .icon-favorite,
.dm-action:hover .like-count {
  color: #fab41e !important;
}
/* いいねするとアイコンが消えないようにする */
.icon-favorite-toggle.is-invisible,
html.dark .icon-favorite-toggle.is-invisible {
  visibility: visible !important;
}
/* ハートのアニメーションを非表示 */
.heartsprite {
  display: none !important;
}
[rel='favorite'].anim {
  animation: none !important;
}
/* いいねアイコン */
.icon-favorite::before,
.icon-heart-filled::before {
  content: '\F007' !important;
  font-family: old_tweetdeckregular !important;
}
/* Likesの星が少し上気味なので調整 */
.column-header-temp .column-type-icon.icon-favorite, .column-header .column-type-icon.icon-favorite {
  margin-top: 1px !important;
}
/* RTアイコン */
.icon-retweet::before,
.icon-retweet-filled::before {
  content: '\F008' !important;
  font-family: old_tweetdeckregular !important;
}
/* リプライアイコン */
.icon-reply::before {
  content: '\F006' !important;
  font-family: old_tweetdeckregular !important;
}
/* メニューアイコン */
.icon-more::before {
  content: '\F016' !important;
  font-family: old_tweetdeckregular !important;
}

/* 通知の画像・引用リツイートをシンプルに(ダークモード対応) */
/* 画像と引用リツイート、引用リツイート下の空要素を非表示 */
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview:not(.media-grid-container) > .media-preview-container > *,
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview.media-grid-container > *,
.activity-header + .tweet.txt-mute > .tweet-body > .quoted-tweet > *,
.activity-header + .tweet.txt-mute > .tweet-body > .quoted-tweet + .margin-b--5 {
  display: none !important;
}
/* 楕円形の要素 */
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview:not(.media-grid-container) > .media-preview-container,
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview.media-grid-container,
.activity-header + .tweet.txt-mute > .tweet-body > .quoted-tweet {
  border: 1px solid #e1e8ed !important;
  color: #8899a6 !important;
  display: inline-block !important;
  padding: 2px 10px 2px 6px !important;
  border-radius: 14px !important;
  margin: 7px 0 2px !important;
  width: auto !important;
  height: auto !important;
  overflow: visible !important;
  font-size: .85714rem !important;
}
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview:not(.media-grid-container) > .media-preview-container:hover,
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview.media-grid-container:hover,
.activity-header + .tweet.txt-mute > .tweet-body > .quoted-tweet:hover {
  background-color: #f5f8fa !important;
}
html.dark .activity-header + .tweet.txt-mute > .tweet-body > .media-preview:not(.media-grid-container) > .media-preview-container,
html.dark .activity-header + .tweet.txt-mute > .tweet-body > .media-preview.media-grid-container,
html.dark .activity-header + .tweet.txt-mute > .tweet-body > .quoted-tweet {
  border-color: #10171e !important;
  color: #8899a6 !important;
}
html.dark .activity-header + .tweet.txt-mute > .tweet-body > .media-preview:not(.media-grid-container) > .media-preview-container:hover,
html.dark .activity-header + .tweet.txt-mute > .tweet-body > .media-preview.media-grid-container:hover,
html.dark .activity-header + .tweet.txt-mute > .tweet-body > .quoted-tweet:hover {
  background-color: #14171a !important;
}
/* アイコン表示 */
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview:not(.media-grid-container) > .media-preview-container::before,
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview.media-grid-container::before,
.activity-header + .tweet.txt-mute > .tweet-body > .quoted-tweet::before {
  display: inline-block !important;
  height: 1em !important;
  width: 1em !important;
  vertical-align: top!important;
  font-size: 1.07143rem!important;
  font-family: tweetdeckregular !important;
  font-weight: 400 !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
/* 画像のアイコン */
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview:not(.media-grid-container) > .media-preview-container::before,
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview.media-grid-container::before {
  content: '\F109' !important;
}
/* 動画のアイコン */
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview:not(.media-grid-container) > .media-preview-container.is-video::before {
  content: '\F715' !important;
}
/* 引用リツイートのアイコン(ネガティブマージンは位置調整) */
.activity-header + .tweet.txt-mute > .tweet-body > .quoted-tweet::before {
  content: '\F006' !important;
  margin-top: -1.2px !important;
}
/* 文字表示 */
/* 画像(1枚) */
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview:not(.media-grid-container) > .media-preview-container::after {
  content: 'Image' !important;
}
/* 画像(複数) */
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview.media-grid-container::after {
  content: 'Images' !important;
}
/* 動画 */
.activity-header + .tweet.txt-mute > .tweet-body > .media-preview:not(.media-grid-container) > .media-preview-container.is-video::after {
  content: 'Video' !important;
}
/* 引用リツイート */
.activity-header + .tweet.txt-mute > .tweet-body > .quoted-tweet::after {
  content: 'Quote Tweet' !important;
}

/* 画像ツイートするときに見やすくする */
.compose-media-compressed .compose-media-bar-thumb {
  width: auto !important;
  max-width: 100% !important;
}

/* 自分がいいね・RTしたツイートを色付け */
/* 自分のRetweetedを消す */
/* .tweet.is-favorite > .tweet-context,
.tweet.is-retweet > .tweet-context,
.tweet.is-favorite.is-retweet > .tweet-context {
  display: none !important;
} */
/* 色付けする要素 */
.tweet.is-favorite::before,
.tweet.is-retweet::before,
.tweet.is-favorite.is-retweet::before {
  content: ' ' !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  opacity: 0.1 !important;
}
.tweet.is-favorite::before,
.tweet.is-retweet::before,
.tweet.is-favorite.is-retweet::before {
  opacity: 0.15 !important;
}
/* いいねしたときの色(黄#fab41e / 赤#e0245e) */
.tweet.is-favorite::before {
  background-color: #fab41e !important;
}
/* RTしたときの色 */
.tweet.is-retweet::before {
  background-color: #17bf63 !important;
}
/* いいねRTしたときの色 */
.tweet.is-favorite.is-retweet::before {
  background-color: #e0245e !important;
}
